*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background-image: url('./images/heroSectionBackground.png');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}
/* Display flex is used so that it can convert to row and it is also responsive and allow user to draw as per required*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

.navbar a{
    color: white;
    text-decoration: none;

}

.navbar__menu__container{
    display: flex;
    gap: 18px;
}

.navbar__menu__container .user__icon{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.hero__section__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 320px;
}
.hero__section__title{
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
.hero__section__logo{
    width: 200px;
    height: 40px;
}
.hero__section__input__container{
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.input__container__location{
    width: 35%;
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
}

.input__container__search{
    width: 65%;
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
}
@media only screen and (max-width:600px) {

    .navbar__menu__container .user__icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
}
