*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background-image: url('./images/heroSectionBackground.png');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}
/* Display flex is used so that it can convert to row and it is also responsive and allow user to draw as per required*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 15px;
}

.navbar a{
    color: white;
    text-decoration: none;

}

.navbar__menu__container{
    display: flex;
    gap: 13px;
}

.navbar__menu__container .user__icon{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

@media only screen and (max-width:600px) {

    .navbar__menu__container .user__icon{
        display: flex;
    }
    .link{
        display: none;
    }
}
